body{
    background: black;
}
h1{
    background-color: black;
}
.poster{
    font-family: 'Libre Baskerville', serif;
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 20%;
    text-align: center;
}
.motivation-img{
    border: 5px solid white;
    width: 100%; 
}